<ion-header>
  <ion-toolbar>
    <ion-title>
      GitHub Users
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let u of usersc">
    <ion-item routerLink="/profile/{{u.login}}">
      <ion-avatar>
          <img [src]="u.avatar_url">
      </ion-avatar>
      <ion-label class="mLabel">
        {{u.login}}
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
